@import "tailwindcss";

:root {
  font-family: var(--font-inter, sans-serif);
}

html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 2%;
  font-family: var(--font-inter, sans-serif);
  background-color: #ffffff;
}